{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ jeu.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeu.description }}</td>
            </tr>
            <tr>
                <th>Imageobjectif</th>
                <td>{{ jeu.imageObjectif }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jeu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jeu_edit', { 'id': jeu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
