{% extends 'GoFlashBundle::frontLayout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                {% for jeu in jeux %}
                    <a href="{{ path('jeu_show', { 'id': jeu.id }) }}">
                        <div class="vignetteJeu text-center">
                            <h3>{{ jeu.titre }}</h3>
                            <h4>{{ jeu.description }}</h4>
                            <img class="img-responsive img-rounded" src="{{ asset('uploads/objectif/'~jeu.imageObjectif)}}" alt="image jeu n° {{ jeu.id ~' '~ jeu.titre }}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
