{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeu creation</h1>

    <div class="container">

        {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-12">
                    {{ form_widget(form.titre) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_widget(form.file) }}
                </div>
            </div>

            <div class="row">
                <input class="" type="submit" value="Valider" />
                <a href="{{ path('jeu_index') }}">Retour à la liste</a>
            </div>


        {{ form_end(form) }}

    </div>
{% endblock %}
