{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeu creation</h1>

    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    {{ form_start(form) }}
    {{ form_widget(form.titre) }}
    {{ form_widget(form.description) }}
    {#{{ form_widget(form.imageObjectif) }}#}
    <input type="file" accept="image/*" id="capture" capture="camera" name="imageObjectif">
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('jeu_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
